.polls-list {
  width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #464a53;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(68, 68, 68, 0.1);
}

.polls-list h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ffffff;
}

.polls-card {
  background-color: #86898f;
  padding: 1.5rem;
  margin-bottom: 1.25rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.75);
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  gap: 1%;
}

.polls-card .details {
  width: 90%;
}

.polls-card .actions {
  width: 10%;
}

.polls-card.draft {
  border-left: 6px solid #aa9417;
}

.polls-card.open {
  border-left: 6px solid #3459d1;
}

.polls-card.closed {
  border-left: 6px solid #000000;
}

.polls-card.disabled {
  border-left: 6px solid #861a1a;
}

.polls-card:hover {
  transform: translateY(-4px) scale(1.015);
}

.polls-card h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #111827;
}

.polls-card h4 {
  margin: 0.4rem 0;
  font-weight: normal;
  color: #383d46;
}

.polls-card h5 {
  margin: 0;
  font-size: 0.9rem;
  color: #005b60; 
}
body {
  background: #31363f;
}
.polls-link {
  text-decoration: none;
  color: inherit;
}