form.create-poll {
  max-width: 500px;
  padding: 1rem;
  background-color: #e9e9e9;
}

.create-poll input, textarea, button {
  background-color: #f7f7f7;
}

.disabled-message {
  width: 100%;
  text-align: center;
  color: darkred;
}

.poll-title {
  width: 100%;
}

.poll-title h1 {
  font-size: 2.5rem;
}

input.poll-title {
  font-size: 2.5rem;
}

.create-poll label {
  display: inline-block;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.poll-description {
  min-width: 100%;
  max-width: 100%;
}

.option-list, .option-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.poll-option-finalized {
  width: 100%;
  list-style: square;
  list-style-position: inside;
}

.poll-option {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.poll-option input {
  flex: 90%;
  font-size: 15px;
}

.create-poll .panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.privacy-select {
  flex: 1;
}

.privacy-select label {
  margin: auto 0 0.5rem;
  width: 90%;
}

.date-picker {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.date-picker label {
  width: auto;
  margin: auto 0 0.5rem;
}

.date-picker p {
  height: 100%;
}

.create-poll .submit-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 100%;
  gap: 3rem;
}

.submit-buttons button {
  flex: 1;
}

.create-poll button {
  font-size: 15px;
  padding: 3px 0;
}

.errors {
  border: 3px solid darkred;
  color: darkred;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
}